apiVersion: core.paladin.io/v1alpha1
kind: Paladin
metadata:
  name: sepolia-node1
  namespace: paladin
spec:
  baseLedgerEndpoint:
    type: endpoint
    endpoint:
      jsonrpc: "$JSONRPC_URL"
      ws: "$WS_URL"
  config: |
    log:
      level: debug
    blockIndexer:
      fromBlock: 0xb0c180
      requiredConfirmations: 6
      commitBatchSize: 2
      commitBatchTimeout: "5s"
    publicTxManager:
      gasPrice:
        ethFeeHistory:
          priorityFeePercentile: 85
      gasLimit:
        gasEstimateFactor: 2.0
  database:
    migrationMode: auto
    mode: sidecarPostgres
  domains:
    - labelSelector:
        matchLabels:
          paladin.io/domain-name: noto
    - labelSelector:
        matchLabels:
          paladin.io/domain-name: zeto
    - labelSelector:
        matchLabels:
          paladin.io/domain-name: pente
  registries:
    - labelSelector:
        matchLabels:
          paladin.io/registry-name: evm-registry
  secretBackedSigners:
    - derivationType: bip32
      keySelector: .*
      keySelectorMustNotMatch: false
      name: signer-1
      secret: sepolia-node1.keys
      type: autoHDWallet
  service:
    ports:
      - name: rpc-http
        nodePort: 31848
        port: 8548
        protocol: TCP
      - name: rpc-ws
        nodePort: 31849
        port: 8549
        protocol: TCP
      - name: metrics
        nodePort: 31850
        port: 6100
        protocol: TCP
    type: NodePort
  transports:
    - name: grpc
      plugin:
        library: /app/transports/libgrpc.so
        type: c-shared
      configJSON: |
        {
          "port": 9000,
          "address": "0.0.0.0"
        }
      ports:
        - name: transport-grpc
          port: 9000
          protocol: TCP
          targetPort: 9000
